/* Top Packages - Ticket Card Styling */
.package-image-warapper{
box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
} 
.ticket-shell {
          filter: drop-shadow(0 3px 4px #0000000d) drop-shadow(0 2px 0px #00000014);
}

.ticket-body {
  position: relative;
  background: #fff;
}

.ticket-body::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .06);
  pointer-events: none;
}

/* Scrollbar hiding */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}